.iv-btn-file {
    position: relative;
    overflow: hidden;
}
            
.iv-btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
            
.iv-file-drop-zone {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 200px;
    border-width: 2px;
    border-style: dashed;
    border-color: #ccc;
    color: #ccc;
    text-align: center;
    line-height: 200px;
}

.iv-file-select-tip {
    font-size: 80%;
}

.iv-dd {
    margin-left: 0px;
}